node_modules/
.env
dist/
.vscode/
frontend/node_modules
frontend/.env
backend/node_modules
backend/.env
admin/node_modules
admin/.env
backend/client_secret_879902559380-q676eg8o2ogfdkk445fso7ktb3sa9t28.apps.googleusercontent.com.json